@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #1B262C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #16423C;
    padding: 21px;
    width: 599px;
    height: auto;
    border-radius: 5px;
    position: relative;
}
.container .header{
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px; 
}
.container .header .time,
.container .header .count,
.container .header .title{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 3px;
}
.container .timer{
    position: absolute;
    width: 0px;
    height: 5px;
    background-color: #222831;
    top: 11px;
    border-radius: 5px;
}

.container .body{
    width: 100%;
    color: antiquewhite;
}
.container .body .question{
    width: 100%;
    padding: 19px;
    border-radius:5px;
    background-color: #222831;
}
.container .body .options{
    height: 181px;
}
.container .body .option{
    border: 2px solid #222831;
    margin: 11px 0 ;
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.container .body .option:hover{
    background-color: #222831;
    margin-left: 5px;
    
}
.resault{
  background-color: antiquewhite;
  border-radius: 7px;
  padding: 21px;
  position: absolute;
  width: 401px;
  height: 249px;
  z-index: 99;
}
.resault .resault-header{
    padding: 11px;
    text-align: center;
    border-bottom: 1px solid #222831;
    font-size: 23px;
    margin-bottom: 11px;
    font-weight: bold;
}
.resault .resault-stats{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101px;
    gap: 47px;
    font-size: 17px;
}

.resault .again{
    width: 101px;
    height: 41px;
    background-color: #222831;
    color: antiquewhite;
    line-height: 41px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}